{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "Birdeye Data Services APIs",
    "description": "To utilize the Birdeye Data Services APIs, an API key is required for authentication. You can obtain an API key by signing up for a bds.birdeye.so account and generating an API key in your account settings. Include this API key in the headers of your API requests for authentication.\n\nHere's a step-by-step guide on how to obtain an API key: [Birdeye Data Services Authentication and API Keys](https://docs.birdeye.so/docs/authentication-api-keys)"
  },
  "servers": [
    {
      "url": "https://public-api.birdeye.so"
    }
  ],
  "tags": [
    {
      "name": "Price & OHLCV"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Token/Market List"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Wallet, Networth & PnL"
    },
    {
      "name": "Balance & Transfer"
    },
    {
      "name": "Holder"
    },
    {
      "name": "Alltime & History"
    },
    {
      "name": "Blockchain"
    },
    {
      "name": "Creation & Trending"
    },
    {
      "name": "Meme"
    },
    {
      "name": "Security"
    },
    {
      "name": "Search & Utils"
    }
  ],
  "paths": {
    "/defi/price": {
      "get": {
        "tags": [
          "Price & OHLCV"
        ],
        "summary": "Price",
        "description": "Retrieve the latest price information for a specified token.",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "check_liquidity",
            "description": "Specify the liquidity value to check.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "example": 100
          },
          {
            "name": "include_liquidity",
            "description": "Specify whether to include liquidity in the response.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "address",
            "description": "The address of the token contract.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "wsol": {
                "value": "So11111111111111111111111111111111111111112"
              },
              "solana": {
                "value": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
              },
              "ethereum": {
                "value": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
              },
              "solana_scaled_ui": {
                "value": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh"
              }
            }
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled",
                "both"
              ],
              "default": "raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing price value and update time of a token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "value",
                        "updateUnixTime",
                        "updateHumanTime",
                        "priceChange24h"
                      ],
                      "properties": {
                        "value": {
                          "type": "number"
                        },
                        "updateUnixTime": {
                          "type": "integer"
                        },
                        "updateHumanTime": {
                          "type": "string"
                        },
                        "priceChange24h": {
                          "type": "number"
                        },
                        "priceInNative": {
                          "type": "number"
                        },
                        "liquidity": {
                          "type": "number"
                        },
                        "isScaledUiToken": {
                          "type": "boolean"
                        },
                        "scaledValue": {
                          "type": "number"
                        },
                        "multiplier": {
                          "type": "number"
                        },
                        "scaledPriceInNative": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaWithLiquidity": {
                    "value": {
                      "data": {
                        "isScaledUiToken": false,
                        "value": 0.38622452197470425,
                        "updateUnixTime": 1745058945,
                        "updateHumanTime": "2025-04-19T10:35:45",
                        "priceChange24h": 1.933391934259418,
                        "priceInNative": 0.0027761598581298626,
                        "liquidity": 10854103.37938592
                      },
                      "success": true
                    }
                  },
                  "EVMWithLiquidity": {
                    "value": {
                      "data": {
                        "value": 0.000012151838032744844,
                        "updateUnixTime": 1745058827,
                        "updateHumanTime": "2025-04-19T10:33:47",
                        "priceChange24h": 1.4986903810717627,
                        "liquidity": 3349464.6246886267
                      },
                      "success": true
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "isScaledUiToken": true,
                        "value": 404.21180826549516,
                        "updateUnixTime": 1751369725,
                        "updateHumanTime": "2025-07-01T11:35:25",
                        "priceChange24h": 4.268112150090328,
                        "priceInNative": 2.7135492516187805,
                        "scaledValue": 404.21180826549516,
                        "multiplier": 1,
                        "scaledPriceInNative": 2.7135492516187805
                      },
                      "success": true
                    }
                  },
                  "MissingPrice": {
                    "value": {
                      "success": true,
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "operationId": "get-defi-price"
      }
    },
    "/defi/multi_price": {
      "get": {
        "tags": [
          "Price & OHLCV"
        ],
        "summary": "Price - Multiple",
        "description": "Retrieve the latest price information for multiple tokens. Maximum 100 tokens",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "check_liquidity",
            "description": "Specify the liquidity value to check.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "example": 100
          },
          {
            "name": "include_liquidity",
            "description": "Specify whether to include liquidity in the response.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "list_address",
            "description": "A list of token addresses in string separated by commas (,)",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "solana": {
                "value": "So11111111111111111111111111111111111111112,mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              },
              "ethereum": {
                "value": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
              },
              "solana_scaled_ui": {
                "value": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh,Xs3eBt7uRfJX8QUs4suhyU8p2M6DoUDrJyWBa8LLZsg,XsbEhLAtcf6HdfpFZ5xEMdqW8nfAvcsP5bdudRLJzJp"
              }
            }
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled",
                "both"
              ],
              "default": "raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing price values and update time of multiple tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "description": "A hashmap with token addresses as keys and the price object as value",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "value",
                          "updateUnixTime",
                          "updateHumanTime",
                          "priceChange24h"
                        ],
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "updateUnixTime": {
                            "type": "integer"
                          },
                          "updateHumanTime": {
                            "type": "string"
                          },
                          "priceChange24h": {
                            "type": "number"
                          },
                          "priceInNative": {
                            "type": "number"
                          },
                          "liquidity": {
                            "type": "number"
                          },
                          "isScaledUiToken": {
                            "type": "boolean"
                          },
                          "scaledValue": {
                            "type": "number"
                          },
                          "multiplier": {
                            "type": "number"
                          },
                          "scaledPriceInNative": {
                            "type": "number"
                          }
                        }
                      },
                      "maxProperties": 10
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "So11111111111111111111111111111111111111112": {
                          "isScaledUiToken": false,
                          "value": 127.32916175338693,
                          "updateUnixTime": 1726673192,
                          "updateHumanTime": "2024-09-18T15:26:32",
                          "priceInNative": 1,
                          "priceChange24h": -5.833510393308625,
                          "liquidity": 7026264396
                        },
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": {
                          "isScaledUiToken": false,
                          "value": 0.00001598090539282,
                          "updateUnixTime": 1726673185,
                          "updateHumanTime": "2024-09-18T15:26:25",
                          "priceInNative": 1.2583e-7,
                          "priceChange24h": -4.766925300538944,
                          "liquidity": 1234414
                        }
                      }
                    }
                  },
                  "EVM": {
                    "value": {
                      "success": true,
                      "data": {
                        "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2": {
                          "value": 2600,
                          "updateUnixTime": 1726673192,
                          "updateHumanTime": "2024-09-18T15:26:32",
                          "priceChange24h": -5.833510393308625,
                          "liquidity": 7026264396
                        },
                        "0x6982508145454Ce325dDbE47a25d4ec3d2311933": {
                          "value": 9.58e-7,
                          "updateUnixTime": 1726673185,
                          "updateHumanTime": "2024-09-18T15:26:25",
                          "priceChange24h": -4.766925300538944,
                          "liquidity": 1431513
                        }
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "XsP7xzNPvEHS1m6qfanPUGjNmdnmsLKEoNAnHjdxxyZ": {
                          "isScaledUiToken": true,
                          "value": 404.21180826549516,
                          "updateUnixTime": 1751369725,
                          "updateHumanTime": "2025-07-01T11:35:25",
                          "priceInNative": 2.71366223488443,
                          "priceChange24h": 4.268112150090328,
                          "scaledValue": 404.21180826549516,
                          "multiplier": 1,
                          "scaledPriceInNative": 2.71366223488443
                        },
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": {
                          "isScaledUiToken": false,
                          "value": 0.000013874375132396532,
                          "updateUnixTime": 1751369771,
                          "updateHumanTime": "2025-07-01T11:36:11",
                          "priceInNative": 9.314514583570637e-8,
                          "priceChange24h": -4.55999840357565
                        }
                      },
                      "success": true
                    }
                  },
                  "MissingMultiPrice": {
                    "value": {
                      "success": true,
                      "data": {
                        "So11111111111111111111111111111111111111112": null,
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "operationId": "get-defi-multi_price"
      },
      "post": {
        "tags": [
          "Price & OHLCV"
        ],
        "summary": "Price - Multiple",
        "description": "Retrieve the latest price information for multiple tokens. Maximum 100 tokens",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "check_liquidity",
            "description": "Specify the liquidity value to check.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "example": 100
          },
          {
            "name": "include_liquidity",
            "description": "Specify whether to include liquidity in the response.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled",
                "both"
              ],
              "default": "raw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing price values and update time of multiple tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "description": "A hashmap with token addresses as keys and the price object as value",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "value",
                          "updateUnixTime",
                          "updateHumanTime",
                          "priceChange24h"
                        ],
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "updateUnixTime": {
                            "type": "integer"
                          },
                          "updateHumanTime": {
                            "type": "string"
                          },
                          "priceChange24h": {
                            "type": "number"
                          },
                          "priceInNative": {
                            "type": "number"
                          },
                          "liquidity": {
                            "type": "number"
                          },
                          "isScaledUiToken": {
                            "type": "boolean"
                          },
                          "scaledValue": {
                            "type": "number"
                          },
                          "multiplier": {
                            "type": "number"
                          },
                          "scaledPriceInNative": {
                            "type": "number"
                          }
                        }
                      },
                      "maxProperties": 10
                    }
                  }
                },
                "examples": {
                  "Solana": {
                    "value": {
                      "success": true,
                      "data": {
                        "So11111111111111111111111111111111111111112": {
                          "isScaledUiToken": false,
                          "value": 127.32916175338693,
                          "updateUnixTime": 1726673192,
                          "updateHumanTime": "2024-09-18T15:26:32",
                          "priceInNative": 1,
                          "priceChange24h": -5.833510393308625,
                          "liquidity": 7026264396
                        },
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": {
                          "isScaledUiToken": false,
                          "value": 0.00001598090539282,
                          "updateUnixTime": 1726673185,
                          "updateHumanTime": "2024-09-18T15:26:25",
                          "priceInNative": 1.2583e-7,
                          "priceChange24h": -4.766925300538944,
                          "liquidity": 1234414
                        }
                      }
                    }
                  },
                  "EVM": {
                    "value": {
                      "success": true,
                      "data": {
                        "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2": {
                          "value": 2600,
                          "updateUnixTime": 1726673192,
                          "updateHumanTime": "2024-09-18T15:26:32",
                          "priceChange24h": -5.833510393308625,
                          "liquidity": 7026264396
                        },
                        "0x6982508145454Ce325dDbE47a25d4ec3d2311933": {
                          "value": 9.58e-7,
                          "updateUnixTime": 1726673185,
                          "updateHumanTime": "2024-09-18T15:26:25",
                          "priceChange24h": -4.766925300538944,
                          "liquidity": 1431513
                        }
                      }
                    }
                  },
                  "SolanaScaledUIAmount": {
                    "value": {
                      "data": {
                        "XsP7xzNPvEHS1m6qfanPUGjNmdnmsLKEoNAnHjdxxyZ": {
                          "isScaledUiToken": true,
                          "value": 404.21180826549516,
                          "updateUnixTime": 1751369725,
                          "updateHumanTime": "2025-07-01T11:35:25",
                          "priceInNative": 2.71366223488443,
                          "priceChange24h": 4.268112150090328,
                          "scaledValue": 404.21180826549516,
                          "multiplier": 1,
                          "scaledPriceInNative": 2.71366223488443
                        },
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": {
                          "isScaledUiToken": false,
                          "value": 0.000013874375132396532,
                          "updateUnixTime": 1751369771,
                          "updateHumanTime": "2025-07-01T11:36:11",
                          "priceInNative": 9.314514583570637e-8,
                          "priceChange24h": -4.55999840357565
                        }
                      },
                      "success": true
                    }
                  },
                  "MissingMultiPrice": {
                    "value": {
                      "success": true,
                      "data": {
                        "So11111111111111111111111111111111111111112": null,
                        "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "required": [
                      "list_address"
                    ],
                    "type": "object",
                    "properties": {
                      "list_address": {
                        "type": "string",
                        "default": "So11111111111111111111111111111111111111112,DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "solana": {
                  "value": {
                    "list_address": "So11111111111111111111111111111111111111112,DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
                  }
                }
              }
            }
          }
        },
        "operationId": "post-defi-multi_price"
      }
    },
    "/defi/txs/token": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Trades - Token",
        "description": "Retrieve a list of trades of a specified token.",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "address",
            "description": "The address of the token contract.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "wsol": {
                "value": "So11111111111111111111111111111111111111112"
              },
              "solana": {
                "value": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
              },
              "ethereum": {
                "value": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
              },
              "solana_scaled_ui": {
                "value": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh"
              }
            }
          },
          {
            "name": "offset",
            "description": "Make sure offset + limit <= 10000",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 9999
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of records returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "tx_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "swap",
                "add",
                "remove",
                "all"
              ],
              "default": "swap"
            }
          },
          {
            "name": "sort_type",
            "description": "Specify the sort order.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled"
              ],
              "default": "scaled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing transactions of a token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "quote": {
                              "symbol": "SHIPE",
                              "decimals": 6,
                              "address": "9K78h3XEb7qqRu4XEaAEhe3qXaAeN1XyHa65bLwKXaNp",
                              "amount": 3000940514830,
                              "uiAmount": 3000940.51483,
                              "price": 0.00008920248678973954,
                              "nearestPrice": 0.00008879906452142359,
                              "changeAmount": 3000940514830,
                              "uiChangeAmount": 3000940.51483,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "base": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 1452043321,
                              "uiAmount": 1.452043321,
                              "price": 184.35493814782487,
                              "nearestPrice": 184.35493814782487,
                              "changeAmount": -1452043321,
                              "uiChangeAmount": -1.452043321,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "basePrice": 184.35493814782487,
                            "quotePrice": 0.00008920248678973954,
                            "txHash": "NLiBctRYuhibKZCJPkPxGhDKi9pCo2fx818H1UBJ82gD5DKddvufzf5DAPVKkLgejQ4EezcgE72FUrf327VQGaV",
                            "source": "pump_amm",
                            "blockUnixTime": 1754883867,
                            "txType": "swap",
                            "owner": "5V7aauQjnizwXAPGcJnjC7mbpenbiQZBfBSxW3n7NGCD",
                            "side": "sell",
                            "alias": null,
                            "pricePair": 2066701.7790924432,
                            "from": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 1452043321,
                              "uiAmount": 1.452043321,
                              "price": 184.35493814782487,
                              "nearestPrice": 184.35493814782487,
                              "changeAmount": -1452043321,
                              "uiChangeAmount": -1.452043321,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "to": {
                              "symbol": "SHIPE",
                              "decimals": 6,
                              "address": "9K78h3XEb7qqRu4XEaAEhe3qXaAeN1XyHa65bLwKXaNp",
                              "amount": 3000940514830,
                              "uiAmount": 3000940.51483,
                              "price": 0.00008920248678973954,
                              "nearestPrice": 0.00008879906452142359,
                              "changeAmount": 3000940514830,
                              "uiChangeAmount": 3000940.51483,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "tokenPrice": 184.35493814782487,
                            "poolId": "7LfK73yHk16kaSqa4FDB8t1oU445zzSsgMMC3at4eCFR"
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  },
                  "TokenTransactions": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "quote": {
                              "symbol": "POTUS",
                              "decimals": 6,
                              "address": "7hyHfdgxwtaj1QpQSJw3s4R2LMxShPpmr2GsCw9npump",
                              "amount": 13922809,
                              "feeInfo": null,
                              "uiAmount": 13.922809,
                              "price": null,
                              "nearestPrice": 0.00008581853084042329,
                              "changeAmount": 13922809,
                              "uiChangeAmount": 13.922809
                            },
                            "base": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 9090,
                              "uiAmount": 0.00000909,
                              "price": null,
                              "nearestPrice": 128.201119598627,
                              "changeAmount": -9090,
                              "uiChangeAmount": -0.00000909
                            },
                            "basePrice": null,
                            "quotePrice": null,
                            "txHash": "5G72183B77KafzKv4GEJNnDrV7rtspv5X5WM9yG9g1P89iG1UCGBuAqcMasgGhRYN24bmWsNPkQqptRbX5uoH44K",
                            "source": "raydium",
                            "blockUnixTime": 1726676178,
                            "txType": "swap",
                            "owner": "AavgaV4YKned3RN6JVMANKmAaVS2Tpfnw88HbYtzgBAn",
                            "side": "sell",
                            "alias": null,
                            "pricePair": 1531662.1562156219,
                            "from": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 9090,
                              "uiAmount": 0.00000909,
                              "price": null,
                              "nearestPrice": 128.201119598627,
                              "changeAmount": -9090,
                              "uiChangeAmount": -0.00000909
                            },
                            "to": {
                              "symbol": "POTUS",
                              "decimals": 6,
                              "address": "7hyHfdgxwtaj1QpQSJw3s4R2LMxShPpmr2GsCw9npump",
                              "amount": 13922809,
                              "feeInfo": null,
                              "uiAmount": 13.922809,
                              "price": null,
                              "nearestPrice": 0.00008581853084042329,
                              "changeAmount": 13922809,
                              "uiChangeAmount": 13.922809
                            },
                            "tokenPrice": null,
                            "poolId": "2L8fo6g6me9ZubZhH2iiz6616GouRbGeEuvNoGv69xWE"
                          },
                          {
                            "quote": {
                              "symbol": "PEAKY",
                              "decimals": 6,
                              "address": "62uBW5K24PdxXk185tNjz9pwzkpHinKt8qZznxPPpump",
                              "amount": 35238136,
                              "feeInfo": null,
                              "uiAmount": 35.238136,
                              "price": null,
                              "nearestPrice": 0.00003742796781669965,
                              "changeAmount": 35238136,
                              "uiChangeAmount": 35.238136
                            },
                            "base": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 10333,
                              "uiAmount": 0.000010333,
                              "price": null,
                              "nearestPrice": 128.201119598627,
                              "changeAmount": -10333,
                              "uiChangeAmount": -0.000010333
                            },
                            "basePrice": null,
                            "quotePrice": null,
                            "txHash": "zXdSLDTX4MVzunVJgFbJmiLY9z2hZ3n28w6bYvKn1aZVL1QZGozkyMMMteFqpyWraUTdRyX1GKFnJYkqPsL5SJK",
                            "source": "raydium",
                            "blockUnixTime": 1726676178,
                            "txType": "swap",
                            "owner": "CDt3xtwPVWDbhENL3QhDX5XYVx9JNCvewfdfCRy1cKFt",
                            "side": "sell",
                            "alias": null,
                            "pricePair": 3410252.2016839255,
                            "from": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 10333,
                              "uiAmount": 0.000010333,
                              "price": null,
                              "nearestPrice": 128.201119598627,
                              "changeAmount": -10333,
                              "uiChangeAmount": -0.000010333
                            },
                            "to": {
                              "symbol": "PEAKY",
                              "decimals": 6,
                              "address": "62uBW5K24PdxXk185tNjz9pwzkpHinKt8qZznxPPpump",
                              "amount": 35238136,
                              "feeInfo": null,
                              "uiAmount": 35.238136,
                              "price": null,
                              "nearestPrice": 0.00003742796781669965,
                              "changeAmount": 35238136,
                              "uiChangeAmount": 35.238136
                            },
                            "tokenPrice": null,
                            "poolId": "5vsk6iYjKXEo6x7maZJwh36UjqwFxkRtoHK5Nphh3ht1"
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "operationId": "get-defi-txs-token"
      }
    },
    "/defi/txs/pair": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Trades - Pair",
        "description": "Retrieve a list of trades of a specified pair.",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "address",
            "description": "The address of a pair contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "solana": {
                "value": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg"
              },
              "ethereum": {
                "value": "0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640"
              }
            }
          },
          {
            "name": "offset",
            "description": "Make sure offset + limit <= 10000",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 9999
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of records returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "tx_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "swap",
                "add",
                "remove",
                "all"
              ],
              "default": "swap"
            }
          },
          {
            "name": "sort_type",
            "description": "Specify the sort order.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled"
              ],
              "default": "scaled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing transactions of a pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "txHash": "2s27V8t3HANqUA572KLqBNXFvGyqvYobFX2Cn3c5puoWbHSNCebjT6PDX7gixe5HjdNhuG7SuHpDroJXFrBpAFn1",
                            "source": "phoenix",
                            "blockUnixTime": 1754882843,
                            "txType": "swap",
                            "address": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg",
                            "owner": "MfDuWeqSHEqTFVYZ7LoexgAK9dxk7cy4DFJWjWMGVWa",
                            "from": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": 4000129768,
                              "type": "log",
                              "typeSwap": "from",
                              "uiAmount": 4000.129768,
                              "price": 0.99986,
                              "nearestPrice": 0.99986,
                              "changeAmount": -4000129768,
                              "uiChangeAmount": -4000.129768,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 21638000000,
                              "type": "log",
                              "typeSwap": "to",
                              "uiAmount": 21.638,
                              "price": 184.67395202659998,
                              "nearestPrice": 184.67395202659998,
                              "changeAmount": 21638000000,
                              "uiChangeAmount": 21.638,
                              "isScaledUiToken": false,
                              "multiplier": null
                            }
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  },
                  "PairTransactions": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "txHash": "37U8R16dfZHbe56J8ZhxwrJduUJHwQnJpuocCej6st7r6CAYDzvv7TFTj9yrz6jkYSdMSCkhdAhkaciU4PQWfJis",
                            "source": "phoenix",
                            "blockUnixTime": 1745402802,
                            "address": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg",
                            "owner": "MfDuWeqSHEqTFVYZ7LoexgAK9dxk7cy4DFJWjWMGVWa",
                            "from": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": 399920249,
                              "type": "log",
                              "typeSwap": "from",
                              "uiAmount": 399.920249,
                              "price": null,
                              "nearestPrice": 0.99994282,
                              "changeAmount": -399920249,
                              "uiChangeAmount": -399.920249
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 2642000000,
                              "type": "log",
                              "typeSwap": "to",
                              "feeInfo": null,
                              "uiAmount": 2.642,
                              "price": null,
                              "nearestPrice": 151.35706807903856,
                              "changeAmount": 2642000000,
                              "uiChangeAmount": 2.642
                            }
                          },
                          {
                            "txHash": "2w3kTsgkgBJNk7iJmmo4P4k8UZ8zKXChLL33R1DSod7T3KyfqSH8m63f731yhBsdXULao6f7gUZamkKnVjsCcf4W",
                            "source": "phoenix",
                            "blockUnixTime": 1745402801,
                            "address": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg",
                            "owner": "MfDuWeqSHEqTFVYZ7LoexgAK9dxk7cy4DFJWjWMGVWa",
                            "from": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": 399920938,
                              "type": "log",
                              "typeSwap": "from",
                              "uiAmount": 399.920938,
                              "price": null,
                              "nearestPrice": 0.99994282,
                              "changeAmount": -399920938,
                              "uiChangeAmount": -399.920938
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 2643000000,
                              "type": "log",
                              "typeSwap": "to",
                              "feeInfo": null,
                              "uiAmount": 2.643,
                              "price": null,
                              "nearestPrice": 151.33213768145356,
                              "changeAmount": 2643000000,
                              "uiChangeAmount": 2.643
                            }
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "operationId": "get-defi-txs-pair"
      }
    },
    "/defi/txs/token/seek_by_time": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Trades - Token Seek By Time",
        "description": "Retrieve a list of trades of a specified token with time bound option.",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "address",
            "description": "The address of the token contract.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "wsol": {
                "value": "So11111111111111111111111111111111111111112"
              },
              "solana": {
                "value": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
              },
              "ethereum": {
                "value": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
              },
              "solana_scaled_ui": {
                "value": "Xsc9qvGR1efVDFGLrVsmkzv3qi45LTBjeUKSPmx9qEh"
              }
            }
          },
          {
            "name": "offset",
            "description": "Make sure offset + limit <= 10000",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of records returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "tx_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "swap",
                "add",
                "remove",
                "all"
              ],
              "default": "swap"
            }
          },
          {
            "name": "before_time",
            "description": "Specify the time seeked before using unix timestamps in seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000000000
            },
            "example": 1741531133
          },
          {
            "name": "after_time",
            "description": "Specify the time seeked after using unix timestamps in seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000000000
            },
            "example": 1741444733
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled"
              ],
              "default": "scaled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing transactions of a token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "quote": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": "83",
                              "uiAmount": 8.3e-8,
                              "price": 133.58588874466795,
                              "changeAmount": 83,
                              "uiChangeAmount": 8.3e-8,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "base": {
                              "symbol": "Poppy",
                              "decimals": 6,
                              "address": "7Am9kVe9qymLGzLu9LnGFT6pX43DAuMYBLveSRijpump",
                              "amount": "2999999",
                              "uiAmount": 2.999999,
                              "price": 0.000003840642989117913,
                              "changeAmount": -2999999,
                              "uiChangeAmount": -2.999999,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "basePrice": 0.000003840642989117913,
                            "quotePrice": 133.58588874466795,
                            "txHash": "2rfQEtcrKmbCrwLet9REvUMWd6PoKjRV5fjUhYfmUjdS3ECkwF12s2bmswi8VGYxX1zp96nTfFxeSafjxDmASH6q",
                            "source": "pump_dot_fun",
                            "blockUnixTime": 1741531132,
                            "txType": "swap",
                            "owner": "J8RsYYa1CSsRi77aThfy48YPc7K5gwaepQDdvz2E3UoM",
                            "side": "buy",
                            "alias": null,
                            "pricePair": 36144566.26506024,
                            "from": {
                              "symbol": "Poppy",
                              "decimals": 6,
                              "address": "7Am9kVe9qymLGzLu9LnGFT6pX43DAuMYBLveSRijpump",
                              "amount": "2999999",
                              "uiAmount": 2.999999,
                              "price": 0.000003840642989117913,
                              "changeAmount": -2999999,
                              "uiChangeAmount": -2.999999,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": "83",
                              "uiAmount": 8.3e-8,
                              "price": 133.58588874466795,
                              "changeAmount": 83,
                              "uiChangeAmount": 8.3e-8,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "tokenPrice": 133.58588874466795,
                            "poolId": "2qPLBXMp8YvQyM1SDQ4QoYF314jcLzM86NpMUF6Wni6H"
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  },
                  "TokenTransactions": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "quote": {
                              "symbol": "Pnut ",
                              "decimals": 6,
                              "address": "2qEHjDLDLbuBgRYvsxhc5D6uDWAivNFZGan56P1tpump",
                              "amount": 315220781,
                              "feeInfo": null,
                              "uiAmount": 315.220781,
                              "price": null,
                              "nearestPrice": 2.1228198408315455,
                              "changeAmount": 315220781,
                              "uiChangeAmount": 315.220781
                            },
                            "base": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 3059408483,
                              "uiAmount": 3.059408483,
                              "price": null,
                              "nearestPrice": 218.81293132875214,
                              "changeAmount": -3059408483,
                              "uiChangeAmount": -3.059408483
                            },
                            "basePrice": null,
                            "quotePrice": null,
                            "txHash": "SYypBp6KSdMSfe3M2m4qK86p2JDJRmNKPrqwDxGb3MuPYq6yPodWApoEQBXAvzpfTf9WCmCFbEkPEM4HET84u2L",
                            "source": "raydium_clamm",
                            "blockUnixTime": 1731556704,
                            "txType": "swap",
                            "owner": "AmTRLjX9T8KktBBnw1F78DyDb17fr6L8BNpEgCPGs5eM",
                            "side": "sell",
                            "alias": null,
                            "pricePair": 103.0332440900145,
                            "from": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 3059408483,
                              "uiAmount": 3.059408483,
                              "price": null,
                              "nearestPrice": 218.81293132875214,
                              "changeAmount": -3059408483,
                              "uiChangeAmount": -3.059408483
                            },
                            "to": {
                              "symbol": "Pnut ",
                              "decimals": 6,
                              "address": "2qEHjDLDLbuBgRYvsxhc5D6uDWAivNFZGan56P1tpump",
                              "amount": 315220781,
                              "feeInfo": null,
                              "uiAmount": 315.220781,
                              "price": null,
                              "nearestPrice": 2.1228198408315455,
                              "changeAmount": 315220781,
                              "uiChangeAmount": 315.220781
                            },
                            "tokenPrice": null,
                            "poolId": "8oT91ooChsr7aHTHha9oJxKTYwUhZ75tjJ6bhtiggG5Y"
                          },
                          {
                            "quote": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": "20003691",
                              "uiAmount": 20.003691,
                              "price": null,
                              "nearestPrice": 0.99995378,
                              "changeAmount": -20003691,
                              "uiChangeAmount": -20.003691
                            },
                            "base": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": "90851454",
                              "feeInfo": null,
                              "uiAmount": 0.090851454,
                              "price": null,
                              "nearestPrice": 218.81293132875214,
                              "changeAmount": "90851454",
                              "uiChangeAmount": 0.090851454
                            },
                            "basePrice": null,
                            "quotePrice": null,
                            "txHash": "5hEDZZXh9PJreM16Wp7UVYzuVvDy2u9vvzaHeP7gnfRh9ebv6CLnnPuUgxjKCfsLt5FwpgohAw3hhzBjFbnEkVTB",
                            "source": "meteora_dlmm",
                            "blockUnixTime": 1731556704,
                            "txType": "swap",
                            "owner": "HV1KXxWFaSeriyFvXyx48FqG9BoFbfinB8njCJonqP7K",
                            "side": "buy",
                            "alias": null,
                            "pricePair": 220.18019656570385,
                            "from": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": "20003691",
                              "uiAmount": 20.003691,
                              "price": null,
                              "nearestPrice": 0.99995378,
                              "changeAmount": -20003691,
                              "uiChangeAmount": -20.003691
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": "90851454",
                              "feeInfo": null,
                              "uiAmount": 0.090851454,
                              "price": null,
                              "nearestPrice": 218.81293132875214,
                              "changeAmount": "90851454",
                              "uiChangeAmount": 0.090851454
                            },
                            "tokenPrice": null,
                            "poolId": "sZxb9vrxJBpFiJBogovhfkYqfapVzveLEU4TmzWv4GN"
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Bad request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Request is blacklisted or not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Access Denied"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Too many requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Internal Server Error"
                }
              }
            }
          }
        },
        "operationId": "get-defi-txs-token-seek_by_time"
      }
    },
    "/defi/txs/pair/seek_by_time": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Trades - Pair Seek By Time",
        "description": "Retrieve a list of trades of a specified pair with time bound option.",
        "parameters": [
          {
            "name": "x-chain",
            "description": "A chain name listed in supported networks.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "arbitrum",
                "avalanche",
                "bsc",
                "optimism",
                "polygon",
                "base",
                "zksync",
                "monad",
                "sui",
                "aptos",
                "fogo",
                "mantle",
                "sui"
              ],
              "default": "solana"
            }
          },
          {
            "name": "address",
            "description": "The address of a pair contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "solana": {
                "value": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg"
              },
              "ethereum": {
                "value": "0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640"
              }
            }
          },
          {
            "name": "offset",
            "description": "Make sure offset + limit <= 10000",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "limit",
            "description": "Limit the number of records returned.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "tx_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "swap",
                "add",
                "remove",
                "all"
              ],
              "default": "swap"
            }
          },
          {
            "name": "before_time",
            "description": "Specify the time seeked before using unix timestamps in seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000000000
            },
            "example": 1741531133
          },
          {
            "name": "after_time",
            "description": "Specify the time seeked after using unix timestamps in seconds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000000000
            },
            "example": 1741444733
          },
          {
            "name": "ui_amount_mode",
            "description": "Indicate whether to use the scaled amount for scaled ui amount tokens. Only support solana",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "raw",
                "scaled"
              ],
              "default": "scaled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing transactions of a pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "hasNext"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SolanaScaledUIAmount": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "txHash": "3zyGYe6NVJeFVPrsg2tvTdSxRoKGAiedcEqhuxhqUopdGoaAj69r4svfiePAstmogGoU8dkrfWnUj5PuMf4PCGie",
                            "source": "phoenix",
                            "blockUnixTime": 1741078031,
                            "txType": "swap",
                            "address": "4DoNfFBfF7UokCC2FQzriy7yHK6DY6NVdYpuekQ5pRgg",
                            "owner": "4yDvNjJxLCb5nznyowT8cgNwMs4i36eZaCyAgT6ZwPwv",
                            "from": {
                              "symbol": "USDC",
                              "decimals": 6,
                              "address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "amount": 92762810,
                              "typeSwap": "from",
                              "uiAmount": 92.76281,
                              "price": 0.99991,
                              "changeAmount": -92762810,
                              "uiChangeAmount": -92.76281,
                              "isScaledUiToken": false,
                              "multiplier": null
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 677000000,
                              "typeSwap": "to",
                              "uiAmount": 0.677,
                              "price": 136.96359554514504,
                              "changeAmount": 677000000,
                              "uiChangeAmount": 0.677,
                              "isScaledUiToken": false,
                              "multiplier": null
                            }
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  },
                  "PairTransactions": {
                    "value": {
                      "success": true,
                      "data": {
                        "items": [
                          {
                            "txHash": "XYULkDnsuogzymf6fiM1v2zTmz9LSkiMPCvK9uuE7f58Kb2cJM2hixKzk7ZV2ZsVGZm17gdC3UpEqtxUiRfcBJj",
                            "source": "raydium",
                            "blockUnixTime": 1731556689,
                            "address": "9uWW4C36HiCTGr6pZW9VFhr9vdXktZ8NA8jVnzQU35pJ",
                            "owner": "8NgW4LgwnTL3mHZknDF9aP9mxApsP8WK566v4Cg9Xi3t",
                            "txType": "swap",
                            "from": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 5000000000,
                              "type": "transfer",
                              "typeSwap": "from",
                              "uiAmount": 5,
                              "price": null,
                              "nearestPrice": 218.925039633365,
                              "changeAmount": -5000000000,
                              "uiChangeAmount": -5
                            },
                            "to": {
                              "symbol": "BILLY",
                              "decimals": 6,
                              "address": "3B5wuUrMEi5yATD7on46hKfej3pfmd7t1RKgrsN3pump",
                              "amount": 15049154562,
                              "type": "transfer",
                              "typeSwap": "to",
                              "feeInfo": null,
                              "uiAmount": 15049.154562,
                              "price": 0.07273665730903037,
                              "nearestPrice": 0.07256692035947697,
                              "changeAmount": 15049154562,
                              "uiChangeAmount": 15049.154562
                            }
                          },
                          {
                            "txHash": "n9PZgEXAaQu9uCieRSbKNAV5XMjVebrUoTFgzvBCGqMZBE8MZVfpQsTPgsZe5WBPYKab8BK6ARoiYd7NSsZ8o35",
                            "source": "raydium",
                            "blockUnixTime": 1731556685,
                            "address": "9uWW4C36HiCTGr6pZW9VFhr9vdXktZ8NA8jVnzQU35pJ",
                            "owner": "8BXMjPy3NZ3P7hQDbFQZyn6ahxCCbmhfH1X75sKgCrdy",
                            "txType": "swap",
                            "from": {
                              "symbol": "BILLY",
                              "decimals": 6,
                              "address": "3B5wuUrMEi5yATD7on46hKfej3pfmd7t1RKgrsN3pump",
                              "amount": 1525582093,
                              "type": "transfer",
                              "typeSwap": "from",
                              "uiAmount": 1525.582093,
                              "price": 0.07228331856826616,
                              "nearestPrice": 0.07234274200745022,
                              "changeAmount": -1525582093,
                              "uiChangeAmount": -1525.582093
                            },
                            "to": {
                              "symbol": "SOL",
                              "decimals": 9,
                              "address": "So11111111111111111111111111111111111111112",
                              "amount": 504135998,
                              "type": "transfer",
                              "typeSwap": "to",
                              "feeInfo": null,
                              "uiAmount": 0.504135998,
                              "price": null,
                              "nearestPrice": 218.73886583747043,
                              "changeAmount": 504135998,
                              "uiChangeAmount": 0.504135998
                            }
                          }
                        ],
                        "hasNext": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
[...]
